PORT=3000

# Option 1: URL complete
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

# Option 2: Variables separees
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_SSL=false
